.navigation {
  display: flex;
  flex-direction: column;
  background-color: var(--navigation-bg);
  color: var(--navigation-color);

  height: 100%;
  border-radius: inherit;
  padding: 0 0.5rem;
}

.navHeader {
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  color: var(--navigation-title-color);
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 5rem;
}